@charset"UTF-8"
h1 span{
  color:#3399cc;
}
p{
  font-size:1.75em;
  color:#3399cc;
}
li{
  font-size:1.75em;
  color:#3399cc;
}

#lead{
  border-top: #3399cc;
  font-size:1.50em;
  text-align: center;
}
