@charset"UTF-8"
h1 {
  color:#3399cc;
}
h2 span{
  color:#330000;
}
p{
  font-size:1.75em;
  color:#330000;
}
li{
  font-size:1.75em;
  color:#330000;
}

#lead
{
  color: #ff0000;
  font-size:1.50em;
}

.greeting
{
  color: #00ff00;
  font-size:1.50em;
}
