@charset"UTF-8";
h1 {
  color:#3399cc;
}
h2 span{
  color:#ff22ff;
}

#lead
{

    border-top: #6fbb9a 1px dotted;
    text-align: center;

}

.greeting
{
  color: #00ff00;
  font-size:1.50em;
}

p{
  font-size:1.75em;
  color:#f38759;
}
li{
  font-size:1.75em;
  color:#330000;
}



